
body{
  background-image: url("https://github.com/JosueGarcia2435/JosueGarcia2435.github.io/blob/master/mypark.jpg?raw=true");
  background-repeat: no-repeat;
   background-size: cover;
nav{
  position: fixed;
  background-color: red;
  width: 100%;
  top: 0;
  left: 0;
  height: 50px;
}

#section1{
  background-color: grey;
  margin-top: 250px;
  width: 68%;
  height: 100px;
  margin-left:270px;
  margin-right:100px;
}
